<!doctype html>

<!-- ASSIGN OUR ANGULAR MODULE -->
<html ng-app="meanTodo">
<head>
	<!-- META -->
	<meta charset="utf-8"><!-- Set charset Unicode -->
	<meta name="viewport" content="width=device-width, initial-scale=1"><!-- Optimize mobile viewport -->

	<title>SCUT Online Bank Application</title>

	<!-- SCROLLS -->
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css"><!-- load bootstrap widget -->
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"><!-- load bootstrap font -->
	
	<link href="./css/signin.css" rel="stylesheet"><!-- load bootstrap signin page css -->
	<link href="./css/dashboard.css" rel="stylesheet"><!-- load bootstrap dashboard page css -->
	<link href="./css/theme.css" rel="stylesheet"><!-- load bootstrap theme page css -->
	<link href="./css/style.css" rel="stylesheet"><!-- load style css -->
	
	<!-- TODO: todo-list和todo-form需要修改或删除 -->
	<style>
		html 					{ overflow-y:scroll; }
		body 					{ padding-top:50px; }
		#todo-list 				{ margin-bottom:30px; }
		#todo-form 	 			{ margin-bottom:50px; }
	</style>

	<!-- SPELLS -->
	<script src="//cdn.bootcss.com/angular.js/1.2.16/angular.min.js"></script><!-- load angular -->

	<script src="js/controllers/main.js"></script> <!-- load up our controller -->
	<script src="js/services/todos.js"></script> <!-- load our todo service -->
	<script src="js/services/customers.js"></script> <!-- load our customer service -->
	<script src="js/services/accounts.js"></script> <!-- load our account service -->
	<script src="js/services/transactions.js"></script> <!-- load our transaction service -->
	<script src="js/core.js"></script> <!-- load our main application -->

</head>

<!-- SET THE CONTROLLER -->
<body ng-controller="mainController">
	<nav class="navbar navbar-inverse navbar-fixed-top">
      <!-- 顶部导航栏 -->
			<div class="container-fluid">
        <div class="navbar-header">
					<!-- 项目名称 -->
          <a class="navbar-brand" href="#">SCUT Online Bank Application</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <!-- 导航项 -->
					<ul class="nav navbar-nav navbar-right">
            <li><a href="#">Dashboard</a></li>
            <li><a href="#">Settings</a></li>
            <li><a href="#">Profile</a></li>
            <li><a href="#">Help</a></li>
          </ul>
					<!-- 搜索框 -->
          <form class="navbar-form navbar-right">
            <input type="text" class="form-control" placeholder="Search transactions...">
          </form>
        </div>
      </div>
    </nav>

		<div class="login" ng-show="!isLogin">
			<div class="login-top">
				Welcome to SCUT Bank!
			</div>
			<div class="login-center clearfix">
				<div class="login-center-img"><img src="img/name.png"/></div>
				<div class="login-center-input">
					<input type="text" name="" value="" placeholder="Please enter your username." onfocus="this.placeholder=''" onblur="this.placeholder='Please input your username.'" ng-model="customerData.username"/>
					<div class="login-center-input-text">Username</div>
				</div>
			</div>
			<div class="login-center clearfix">
				<div class="login-center-img"><img src="img/password.png"/></div>
				<div class="login-center-input">
					<input type="password" name="" value="" placeholder="Please enter your password." onfocus="this.placeholder=''" onblur="this.placeholder='Please input your password.'" ng-model="customerData.password"/>
					<div class="login-center-input-text">Password</div>
				</div>
			</div>
			<div class="col-sm-4 col-sm-offset-1 text-center">
				<button class="btn btn-lg btn-primary btn-block" type="submit" ng-click="signUp()">Sign up</button>
			</div>
			<div class="col-sm-4 col-sm-offset-2 text-center">
				<button class="btn btn-lg btn-primary btn-block" type="submit" ng-click="signIn()">Sign in</button>
			</div>
		</div>

		<!-- 侧边导航栏 -->
		<!-- TODO: 有时间考虑在text前加icon -->
    <div class="container-fluid" ng-show="isLogin">
      <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
					<!-- 导航项 -->
          <ul class="nav nav-sidebar">
            <li class="active"><a href="#">Overview <span class="sr-only">(current)</span></a></li>
          </ul>
					<!-- 导航项 -->
					<ul class="nav nav-sidebar">
            <li><a href="#">Cards</a></li>
            <li><a href="#">History</a></li>
            <li><a href="#">Analytics</a></li>
          </ul>
					<!-- 导航项 -->
          <ul class="nav nav-sidebar">
            <li><a href="">Deposit</a></li>
            <li><a href="">Withdraw</a></li>
            <li><a href="">Payment & Transfer</a></li>
          </ul>
					<!-- 导航项 -->
          <ul class="nav nav-sidebar">
            <li><a href="">Financal Products</a></li>
          </ul>

					<!-- 导航项 -->
          <ul class="nav nav-sidebar">
            <li><a href="" ng-click="signOut()">Sign out</a></li>
          </ul>
        </div>
      </div>
			
			<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main" ng-show="isLogin">
				<!-- 欢迎语 -->
				<div class="jumbotron text-center">
					<!-- 显示客户昵称 -->
					<h1>Welcome Back, <span class="label label-primary">{{ currCustomer.username }}</span></h1>
					<!-- 显示上次成功登陆时间 -->
					<h2>successful login: <span class="label label-success">{{ currCustomer.lastSuccessfulLogin }}</span></h2>
				</div>

				<div class="row">
					<div class="col-sm-4">
						<!-- 余额面板 -->
						<div class="panel panel-default">
							<div class="panel-heading">
								<h3 class="panel-title">Balance</h3>
								<!-- TODO: 有时间考虑提供隐藏余额图标+功能 -->
							</div>
							<div class="panel-body">
								{{ balance }}
								<!-- TODO: 修改TextStyle+Icon -->
							</div>
						</div>
					</div><!-- /.col-sm-4 -->
					<div class="col-sm-4">
						<!-- 收入面板 -->
						<div class="panel panel-default">
							<div class="panel-heading">
								<h3 class="panel-title">Income</h3>
								<!-- TODO: 有时间考虑提供隐藏余额图标+功能 -->
							</div>
							<div class="panel-body">
								{{ income }}
								<!-- TODO: 修改TextStyle+Icon -->
							</div>
						</div>
					</div><!-- /.col-sm-4 -->
					<div class="col-sm-4">
						<div class="panel panel-default">
							<div class="panel-heading">
								<h3 class="panel-title">Outcome</h3>
								<!-- TODO: 有时间考虑提供隐藏余额图标+功能 -->
							</div>
							<div class="panel-body">
								{{ outcome }}
								<!-- TODO: 修改TextStyle+Icon -->
							</div>
						</div>
					</div><!-- /.col-sm-4 -->
     	  </div>

				<div class="row">
					<div class="col-sm-8">
						<!-- 交易记录面板 -->
						<div class="panel panel-primary">
							<div class="panel-heading">
								<h3 class="panel-title">Transaction</h3>
							</div>
							<div class="panel-body" style="height: 250px; overflow:auto">
								<div class="col-md-12">
									<table class="table table-striped">
										<thead>
											<tr>
												<!--<th>Account</th>-->
												<th>Operation</th>
												<th>From</th>
												<th>To</th>
												<th>Amount</th>
												<th>Time</th>
											</tr>
										</thead>
										<tbody ng-repeat="transaction in transactions">
											<tr>
												<!--<td>{{ transaction.account }}</td>-->
												<td>{{ transaction.operation }}</td>
												<td>{{ transaction.from }}</td>
												<td>{{ transaction.to }}</td>
												<td>{{ transaction.amount }}</td>
												<td>{{ transaction.time }}</td>
											</tr>
										</tbody>
									</table>
								</div>
							</div>
						</div>
					</div><!-- /.col-sm-4 -->
					<div class="col-sm-4">
						<div class="panel panel-default">
							<!-- 卡片账户面板 -->
							<div class="panel-heading">
								<h3 class="panel-title">
									Cards
									<button type="button" class="btn btn-xs btn-primary" ng-click="createRandomAccount()">New Card</button>
								</h3>
							</div>
							<div class="panel-body" style="height: 250px; overflow:auto">
								<!-- 已有账户列表 -->
								<div id="todo-list" class="row">
									<div class="col-sm-4 col-sm-offset-1">
											<table class="table table-striped">
													<thead>
														<tr>
															<!--<th>Account</th>-->
															<th>AccountId</th>
															<th>Balance</th>
														</tr>
													</thead>
													<tbody ng-repeat="account in accounts">
														<tr>
															<!--<td>{{ transaction.account }}</td>-->
															<td><input type="checkbox" ng-click="selectAccount(account._id)">{{ account.accountId }}</td>
															<td>{{ account.balance }}</td>
														</tr>
													</tbody>
												</table>
										<!-- <div class="checkbox" ng-repeat="account in accounts">
											<label>
												<input type="checkbox" ng-click="selectAccount(account._id)"> {{ account.accountId }}: {{ account.balance }}
											</label>
										</div> -->

											<p class="text-center" ng-show="loading">
												<span class="fa fa-spinner fa-spin fa-3x"></span>
											</p>

										</div>
									</div>
								</div>
							</div>
						</div><!-- /.col-sm-4 -->
     	  </div>

				<div class="row">
					<div class="col-sm-4">
						<!-- 存钱&取钱面板 -->
						<div class="panel panel-default">
							<div class="panel-heading">
								<h3 class="panel-title">Deposit & Withdraw</h3>
							</div>
							<div class="panel-body" style="height: 250px; overflow:auto">
								
								<div id="todo-form" class="row">
									<div class="col-sm-12 text-center">
										<form>
											<div class="form-group">

												<!-- 输入操作金额 -->
												<input type="text" class="form-control input-lg text-center" placeholder="Deposit or withdraw the money." ng-model="operationAmount">

											</div>
										</form>

										<!-- 存款 -->
										<button type="submit" class="btn btn-primary btn-md" ng-click="deposit()">Deposit</button>
										
										<!-- 取款 -->
										<button type="submit" class="btn btn-primary btn-md" ng-click="withdraw()">Withdraw</button>
									</div>
								</div>
							</div>
						</div>
					</div><!-- /.col-sm-4 -->
					<div class="col-sm-4">
						<!-- 支付&转账面板 -->
						<div class="panel panel-default">
							<div class="panel-heading">
									<h3 class="panel-title">Payment & Transfer</h3>
							</div>
							<div class="panel-body" style="height: 250px; overflow:auto">
								<div id="todo-form" class="row">
									<div class="col-sm-12 text-center">
										<form>
											<div class="form-group">
												<!-- 输入转账账户 -->
												<input type="text" class="form-control input-lg text-center" placeholder="Please input the account for transfer." ng-model="transactionData.to">
												<!-- 输入转账金额 -->
												<input type="text" class="form-control input-lg text-center" placeholder="Please input the amount for transfer." ng-model="transactionData.amount">

											</div>
										</form>

										<!-- 取消转账 -->
										<button type="submit" class="btn btn-primary btn-md" ng-click="cancelTransfer()">Cancel</button>

										<!-- 确认转账 -->
										<button type="submit" class="btn btn-primary btn-md" ng-click="confirmTransfer()">Confirm</button>
									</div>
								</div>
							</div>
						</div>
					</div><!-- /.col-sm-4 -->
					<div class="col-sm-4">
						<div class="panel panel-default">
							<!-- 理财产品面板 -->
							<div class="panel-heading">
								<h3 class="panel-title">Finance</h3>
							</div>
							<div class="panel-body" style="height: 250px; overflow:auto">
								<div class="row">
									<div class="col-sm-12">
										<!-- 产品信息 -->
										<h4>
											<span class="label label-default">Product Name: {{ financeData.type }}</span>
										</h4>
										<h4>
											<span class="label label-danger">Annual Rate: {{ financeData.rate }}</span>
										</h4>
										<h4>
												<span class="label label-success">Estimated Interest: {{ financeData.interest }}</span>
										</h4>
										

										<!-- 持有金额 -->
										<form>
											<div class="form-group">

												<input type="text" class="form-control input-md text-center" placeholder="Please input holding amount." ng-model="financeData.amount">

											</div>
										</form>

										<!-- 购买选项 -->
										<p>
											<button type="button" class="btn btn-xs btn-warning" ng-click="purchaseFinanceProduct(12)">For One Year</button>
											<button type="button" class="btn btn-xs btn-warning" ng-click="purchaseFinanceProduct(6)">For Six Months</button>
											<button type="button" class="btn btn-xs btn-warning" ng-click="purchaseFinanceProduct(3)">For Three Months</button>
										</p>
									</div>
								</div>
							</div>
						</div>
					</div><!-- /.col-sm-4 -->
     	  </div>

				<!-- 结束语 -->
				<div class="text-center text-muted">
					<!-- 显示技术支持 -->
					<p>Contributed ❤ from 
						<a href="https://github.com/chen201730681280">Chen Yongxin</a>, 
						<a href="https://github.com/LotteWong">Huang Xiuping</a>, 
						<a href="https://github.com/KONG98">Kong Yihan</a>, 
						<a href="https://github.com/prprprprbiu">Xian Wenting</a>,
						<a href="https://github.com/sherele">Xie Yingyuan</a>, 
						<a href="https://github.com/zhao201730685110">Zhao Zhuoran</a> 
					</p>
					<p>Supported ❤ by <a href="https://www.ibm.com/linuxone">LinuxONE</a></p>
				</div>
			</div>
    </div>
</body>
</html>